.how {
    // height: 476px;
    width: 100%;
    background: rgba(74, 153, 211, 0.1);
    @media (max-width: 1200px) {
        height: auto;
    }
    h3 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        line-height: 27px;
        text-align: center;
        color: #4A99D3;
        padding-top: 95px;
        @media (max-width: 500px) {
            margin: auto;
        }
    }
    .steps {
        display: flex;
        width: 65em;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 100px;
        gap: 100px;
        @media (max-width: 1200px) {
            gap: 30px;
            padding-bottom: 50px;
        }
        @media (max-width: 960px) {
            flex-direction: column;
            gap: 0px;
            width: auto;
        }
        .step {
            text-align: center;
            h4 {
                font-weight: 500;
                font-size: 18px;
                line-height: 19px;
                color: #0F001A;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #0F001A;
            }
        }
    }
}



