footer {
    // height: 350px;
    width: 100%;
    position: relative;
    @media (max-width: 960px) {
        height: 350px;
    }
    @media (max-width: 800px) {
        height: auto;
    }
    .footer-wrapper{
        background: #4A99D3;
        color: #FFFFFF;
        position: relative;
        z-index: 2;
        height: 350px;
        display: flex;
        @media (max-width: 800px) {
            height: 480px;
            // flex-direction: column;
        }
        @media (max-width: 500px) {
            height: auto;
            flex-direction: column;
        }
        .logo {
            font-family: 'Objective';
            font-weight: 700;
            font-size: 34px;
            line-height: 35px;
            padding-left: 9vw;
            padding-top: 55px;
            @media (max-width: 1200px) {
                padding-left: 5vw;
            }
            @media (max-width: 500px) {
                padding-left: 3vw;
            }
        }
        .bottom-nav {
            margin-left: 9vw;
            @media (max-width: 1200px) {
                margin-left: 5vw;
                margin-right: 5vw;
            }
            @media (max-width: 960px) {
                margin-left: 3vw;
                margin-right: 3vw;
            }
            @media (max-width: 800px) {
                margin-left: 12vw;
                margin-right: 5vw;
            }
            @media (max-width: 670px) {
                margin-left: 5vw;
            }
            .nav-links {
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                display: flex;
                flex-direction: row;
                gap: 60px;
                @media (max-width: 1200px) {
                    gap: 40px;
                }
                @media (max-width: 500px) {
                    gap: 5px;
                }
                .links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 18px;
                    .header-links {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 19px;
                        padding-top: 55px;
                        padding-bottom: 4px;
                        border-bottom:  2px solid white;
                        margin-bottom: 15px;
                    }
                    .quick {
                        @media (max-width: 390px) {
                            margin-top: -19px;
                        }
                    }
                }
            }
        }
        .subscribtion {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            padding-top: 37px;
            margin-left: 5vw;
            width: 394px;
            @media (max-width: 1200px) {
                margin-left: 0;
                margin-bottom: 20px;
            }
            @media (max-width: 800px) {
                position: absolute;
                bottom: 50px;
                left: 5vw;
                padding-top: 0;
            }
            @media (max-width: 500px) {
                left: auto;
                bottom: auto;
                position: static;
                margin-left: 5vw;
                margin-right: 5vw;
                width: fit-content;
            }
            input {
                background: #FFFFFF;
                border-radius: 3px;
                width: 250px;
                height: 50px;
                border: transparent;
                &::placeholder {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #000000;
                    opacity: 0.5;
                    padding-left: 10px;
                }
                @media (max-width: 1200px) {
                    width: 200px;
                }
                @media (max-width: 800px) {
                    width: 250px;
                }
                @media (max-width: 420px) {
                    width: 180px;
                }
            }
            button {
                font-weight: 700;
                font-size: 16px;
                line-height: 17px;
                color: #4A99D3;
                width: 116px;
                height: 50px;
                border: transparent;
                border-radius: 3px;
                @media (max-width: 420px) {
                    width: 100px;
                }
            }
        }
        .footer-under {
            border-top: 1px white solid;
            height: 60px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            display: flex;
            padding-left: 9vw;
            padding-right: 9vw;
            justify-content: space-between;
            @media (max-width: 1200px) {
                padding-left: 5vw;
            }
            @media (max-width: 960px) {
                height: auto;
            }  
            @media (max-width: 500px) {
                padding-left: 5vw;
                position: relative; 
            }
            .social {
                width: 135px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.rect-footer-right {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 141.31px;
    height: 118.57px;
    right: 16px;
    top: -150px;
    border: 8px solid #D3844A;
    border-radius: 4px;
    @media (max-width: 1200px) {
        display: none;
    }
    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 141.31px;
        height: 118.57px;
        top: 25px;
        right: 32px;
        border: 8px solid #D3844A;
        border-radius: 4px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 141.31px;
        height: 118.57px;
        top: 65px;
        right: -70px;
        border: 8px solid #D3844A;
        border-radius: 4px;
        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.rect-footer-left {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 141.31px;
    height: 118.57px;
    left: 16px;
    top: -75px;
    border: 8px solid #4A99D3;
    border-radius: 4px;
    transform: rotate(-180deg);
    @media (max-width: 1200px) {
        display: none;
    }
    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 141.31px;
        height: 118.57px;
        top: 25px;
        right: 32px;
        border: 8px solid #4A99D3;
        border-radius: 4px;
        transform: rotate(-180deg);
        @media (max-width: 1200px) {
            display: none;
        }
    }
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        width: 141.31px;
        height: 118.57px;
        top: 65px;
        right: -70px;
        border: 8px solid #4A99D3;
        border-radius: 4px;
        transform: rotate(-180deg);
        @media (max-width: 1200px) {
            display: none;
        }
    }
}